PORT=3000
#DB_ADDRESS=mongodb://root:example@mongo:27017/weblarek?authSource=admin - использовть эту переменную окружения, если запускаем в Docker
DB_ADDRESS=mongodb://127.0.0.1:27017/weblarek?authSource=admin
UPLOAD_PATH=images
UPLOAD_PATH_TEMP=temp
ORIGIN_ALLOW=http://localhost,http://localhost:5173
AUTH_ACCESS_TOKEN_SECRET=replace-with-a-long-random-secret
AUTH_REFRESH_TOKEN_SECRET=replace-with-another-long-random-secret
CSRF_SECRET=replace-with-a-third-long-random-secret
AUTH_REFRESH_TOKEN_EXPIRY=7d
AUTH_ACCESS_TOKEN_EXPIRY=15m
TRUST_PROXY=1
